<div class="container">
  <div class="row ">
    <div class="banner">
      <div class="banner-content">
        <h1>Welcome to RamenMan!</h1>
        <p>Find your ramen.</p>
        <div class="dropdown">
          <button class="dropbtn">I want...</button>
            <div class="dropdown-content">
              <a href="ramen">Ramen</a>
              <a href="tsukemen">Tsukemen</a>
              <a href="aburasoba">Aburasoba</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <ol>
  <% categories = [ 'ramen', 'tsukemen', 'aburasoba' ] %>
<% categories.each do |category| %>
  <li><%= category.capitalize %></li>
<% end %>
</ol> -->


