
.banner{

  background-size: cover;
  height: calc(100vh - 70px); /* 1vh => 1% of viewport height */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(image-path("yamaguchi2.jpg"));


}

.banner-content{
  color: white;
  text-align: center;
}

